<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login_styles.css') }}"/>
</head>
<body>
    <script>
        function showPassword(){
            let doc = document.getElementById("password")
            if (doc.type === "password"){
                doc.type = "text"
            }
            else{
                doc.type = "password"
            }
        }
    </script>
    <script>
        function prepare(){
            let doc = document.getElementById("password")
            if (doc.type === "text"){
                doc.type = "password"
            }
        }
    </script>
    <header></header>
    <main>

        <div id="login-container">
            <div id="head-container">
                <img src="{{ url_for('static', filename='img/mem.png') }}"/>
                <h1 class="bold">Sign in</h1>
            </div>
            <div id="form-container">
                <form action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    <div>
                        <p class="bold">{{ form.username.label }}</p>
                        <div class="input-container">{{ form.username() }}</div>
                    </div>
                    <div>
                        <p class="bold">{{ form.password.label }} </p>
                        <div class=input-container">{{ form.password() }}</div>
                    </div>
                    <div id="hide-password-container">
                        <div>
                            <input type="checkbox" id="hide_password" name="hide_password" onclick="showPassword()">
                        </div>
                        <p>Show password</p>
                    </div>
                    <div id="submit-container">
                        {{ form.submit( onclick='prepare()') }}
                    </div>
                </form>
            </div>
        </div>
    </main>
    <footer></footer>
</body>
</html>