<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main_menu_header.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main_menu_footer.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/creation_task.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/registration_styles.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/reports_styles.css') }}"/>
</head>
<body>
    <div class="wrapper">
        <header>
            <div id="header-container">
                <div id="current-user">
                    {% if current_user.is_authenticated %}
                        <p>{{ current_user.e_first_name + " " + current_user.e_last_name }}</p>
                    {% endif %}
                </div>
                <div id="box-nav-container">
                    <div id="nav-container">
                        <div class="vertical-divider"></div>
                        <ul>
                            <li><a href="{{ url_for('index') }}">Home</a></li>
                            {% if current_user.is_anonymous %}
                                <li><a href="{{ url_for('login') }}">Login</a></li>
                            {% else %}
                                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                                {% if current_user.post_id == 16484 %}
                                    <li><a href="{{ url_for('registration') }}">Registration</a></li>
                                    <li><a href="{{ url_for('create_task') }}">Create task</a></li>
                                    <li><a href="{{ url_for('reports') }}">Reports</a></li>
                                {% endif %}
                                {% if current_user.post_id == 16485 %}
                                    <li><a href="{{ url_for('create_task') }}">Create task</a></li>
                                    <li><a href="{{ url_for('reports') }}">Reports</a></li>
                                {% endif %}
                            {% endif %}
                        </ul>
                        <div class="vertical-divider"></div>
                    </div>
                </div>
            </div>
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </div>
    <footer>
        <div>
            <p>
                Made by
                <a href="https://github.com/Dedmercy">Dedmercy</a> and <a href="https://github.com/Ewasince">Ewasince</a>
            </p>
        </div>
    </footer>
</body>
</html>