#content-section{
    font-weight: normal;
    font-size: 16px;
    padding: 20px;
}

#greetings-container{
    padding: 0 0 0 50px;
}

#current-user-tasks{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
}

.task-container{
    padding: 10px;
    background-color: #F6F8FA;
    border: 1px solid #D8DEE4;
    min-width: 600px;
    max-width: 600px;
}

#current-user-tasks p, h2{
    margin: 0;
}

.task-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}